{% extends 'basic_app/base.html' %}

{% block body_block %}
    <div class="jumbotron">
        {% if registered %}
            <h1>Thank you for registering</h1>
        {% else %}
            <h1>Please fill out the form</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                <input type="submit" value="Register" class="btn btn-success">
            </form>
        {% endif %}
    </div>
{% endblock %}